--index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://pypi.org/simple

torch
fastapi
uvicorn[standard]
beautifulsoup4
sentence-transformers
chromadb
requests
python-dotenv
pydantic
pytest
httpx
